body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.7em;
    /*background-color: rgba(20, 20, 20, 0.1);*/
}

header {
    background-color:rgba(20, 20, 20, 0.1)
}

div {
    width: 75%;
    margin-left: 150px;
}

article {
    width: 75%;
    margin-left: 150px;
}

h1 {
    color: #280030;
    text-align:center;
    position: relative;
    padding: 75px;
}

h2 {
    color:#280030;
}

h3 {
    color:#280030;
    text-align: left;
}

a {
    color: #4961b2;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgba(0,0,0,0.4);
}

li {
    margin-left: -40px;
}

.pageTab {
    display: inline;
    padding: 0px 50px 0px 0px;
    text-align: left;
    margin: 0px;
    color: #017698;
    text-decoration: none;
    font-weight: bold;       
}

nav {
   line-height: 0px;
    padding: 10px;
}

.logo {
    width: 175px;
    height: 175px;
    margin: auto;
    position: absolute;
    float: left;      
}

.summary {
    margin-top: 0px;
    margin-left: 50px;
}

.sample {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 200px;
    padding: 20px 50px 20px 10px;
    text-decoration: none;
    text-align: left;
    list-style-type: none;
}

.sample:hover {
      background-color: #6282db;
}

.sample:active {
    background-color:#4961b2;
    color: white;
}

.letterExamples {
    list-style-type: none;
    float: left;
}

.sampleLetter {
      background-color: white;
      box-shadow: 10px 10px 10px 10px #888888;
      font-family: 'Times New Roman', Times, serif;
      width: 600px;
      padding: 80px;
      margin: 20px auto;
      font-family: 'Times New Roman', Times, serif;
  }

  .letterhead{
      position: relative;
      width: 350px;
      z-index: 9;
  }

  .hoverText{ 
      border-bottom: 1px dotted red;
      cursor: help;
      color: #4961b2;
  }

  .hoverText:hover {
    color: #888888;
  }